/* Add your custom styles here */
body {
    background-color: #f8f9fa;
    padding-top: 56px; /* Adjust this value based on the height of your navbar */
}

.sidebar {
    background-color: #343a40;
    color: #ffffff;
    height: 643px;
}

.content {
    margin-top: 20px;
}

.navbar.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar-sticky {
    position: sticky;
    top: 56px; /* Adjust this value based on the height of your navbar */
}

.bes {
    margin-top: 13rem;
}

.yedi {
    width: 100%;
}
